* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    background: var(--tg-theme-bg-color);
    display: flex;
    justify-content: center;
}

.glass {
    background: var(--tg-theme-bg-color);
    min-height: 80vh;
    width: 95%;
    background: linear-gradient(to right bottom, rgb(from var(--tg-theme-section-bg-color) r g b / 75%), rgb(from var(--tg-theme-section-bg-color) r g b / 25%))
}
